[2015-11-06 16:43] viktorbenei opened #3 "Add a file-filter option, ex: to be able to upload only *.ipa files from the specified directory"

[2016-01-05 22:38] viktorbenei opened #12 "Properly note when Public Install Page URL will, and when won't be generated (e.g. if compress=true)"
No Public Install Page URL will be generated for compressed files, nor in case it's not an APK or IPA file.

[2016-02-17 05:29] hijklmno opened #13 "[Android] Version code and version names as environment variables"
Hi Bitrise,

I was wondering if it is possible to expose the version name and version code as an output variable? My goal is to publish a slack message with the version name and version code in the message itself, instead of needing to click the link each time.

Thanks!

[2016-02-17 09:02] viktorbenei commented on #13
Hi,

Good idea, but it won't be implemented in this Step.

This step is not specific enough to be the right place for this feature - e.g. if you use a different deploy step you won't be able to get this information without deploying with this step too.

You can do this yourself with a Script step, using `aapt` https://github.com/bitrise-io/steps-deploy-to-bitrise-io/blob/master/uploaders/apk_uploa

[2016-02-17 09:02] #13 closed

[2016-02-17 22:39] hijklmno commented on #13
Ok. I will follow up with a Script step.

[2016-03-11 16:08] natinusala opened #14 "Have a latest public install page"
Would it be possible to have a latest public install page for a desired file ? That would be a page with a constant URL, which points to the install page of the latest successful build.

I'm currently thinking of using my own page which redirects to the latest install page URL,with a "Ping an URL with cURL" step for updating it. This way I can have a unique URL which leads to the latest build, but

[2016-03-11 16:20] viktorbenei commented on #14
Great idea!

Please vote & comment on the related UserVoice feature requests:

* https://bitrise.uservoice.com/forums/235233-general/suggestions/11196141-static-public-install-page-so-that-qa-can-always
* https://bitrise.uservoice.com/forums/235233-general/suggestions/10577118-full-api

[2016-03-11 16:20] #14 closed

[2016-03-15 08:57] ritave opened #15 "Deploy to Bitrise is failing from time to time"
After uploading the artifacts to your servers and getting a created response, the step still fails for unknown reasons (nothing more in the log). This is a nightly build, and on some nights it works, on some nights it fails, with the same commit and changes.

[2016-03-15 08:58] viktorbenei commented on #15
Can you please share the full logs of the step?

[2016-03-15 09:14] ritave commented on #15
Sure, I've redacted some api keys, but build id should be enough for you

[code]

[2016-03-15 09:17] viktorbenei commented on #15
How big is the ZIP it should upload, and how frequently does it fail?

[2016-03-15 09:17] viktorbenei commented on #15
Ohh, just noticed that you don't use **this** step. You should switch to this one, the "artifact" step is now deprecated - we'll note this soon, and remove that version in the near future.

[2016-03-15 12:08] ritave commented on #15
Thanks for the tip, I've changed to Deploy step and rerun the test, if something breaks again I'll let you know

[2016-03-15 12:10] viktorbenei commented on #15
Thanks! This version of the step has a better retry policy, as well as it prints more precise errors - it's basically a combination of the artifact step and the old iOS specific step, with revisions and fixes.

I'll close this ticket now, but if you'd have any issue with this step feel free to create a new one!

[2016-03-15 12:10] #15 closed

[2016-06-28 02:39] VictorOjeda opened #19 ""No title found" as title in generated e-mail [Android]"
The title in the generated email is empty and I cannot find the right string to modify when making an Android build. The result is "No title found" as the title in the email (see attachment).

<img width="689" alt="screen shot 2016-06-27 at 7 36 00 pm" src="https://cloud.githubusercontent.com/assets/5543584/16402082/890815a0-3c9e-11e6-87bc-0d770876bbf1.png">

[2016-06-28 04:47] viktorbenei commented on #19
Hi,

Please upgrade to the latest version of this step (Deploy to Bitrise.io - 1.2.4 - https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.2.4) that should fix the issue.

I'll close this ticket, but if you have this issue with the latest version please let us know and we'll reopen it!

[2016-06-28 04:47] #19 closed

[2016-06-28 04:52] VictorOjeda commented on #19
Yes, it is fixed in version 1.2.4.

Thank you.

[2016-06-28 04:52] viktorbenei commented on #19
Thanks for reporting!

[2016-07-28 01:12] lhildenST opened #20 "notify_user_groups without owner still notifies owner group"
I have a deploy-to-bitrise-io build step setup as follows to _**not**_ send emails to the owner, but the owner is still getting build email notifications:
[code]
Is this a bug, or do I have my config setup incorrectly?

[2016-07-28 06:07] viktorbenei commented on #20
The config seems to be good, we'll check what the issue can be. Thanks for reporting!

[2016-07-28 13:07] godrei commented on #20
@lhildenST , are that emails build status emails or artifact generations email?

It looks like artifact generation emails (triggered by `deploy-to-bitrise-io` step) are sent to correct groups.

You can control build status emails on your app's settings page, but there you can not apply settings per groups...

[2016-07-28 16:33] lhildenST commented on #20
@godrei The owner is receiving "Build [success] email"

[2016-07-28 16:41] godrei commented on #20
this is a build status email and not triggered by this step. you can control this type of emails on app's settings page.

[2016-07-28 17:45] lhildenST commented on #20
@godrei Makes sense, my misunderstanding.  Please remove the "bug" label on this issue then.  I will close.

Note: I just gave 3 votes to https://bitrise.uservoice.com/forums/235233-general/suggestions/11650665-allow-per-user-notification-settings.

[2016-07-28 17:45] #20 closed

[2016-09-05 11:57] bykovme opened #22 "Public install page for Xamarin builds"
Xamarin build produces both APK & IPA file and there are 2 separate install pages for the files generated. Nevertheless, there is only one variable for public installation page ($BITRISE_PUBLIC_INSTALL_PAGE_URL ) in the output and only one link to installation page is assigned there  (points to APK in my case), while I need on the next steps to know the links to both installation pages to inform t

[2016-09-05 12:05] viktorbenei commented on #22
Thanks for the feature request!

Right now you can do this by using multiple Deploy to Bitrise.io steps, pointing it to the IPA / APK directly, instead of to the directory where the files are stored.

In the future we plan to add a new environment variable which will include a list of the public install pages, instead of just one item.

[2016-09-05 12:10] bykovme commented on #22
Thanks for the tip with multiple deploy steps and looking forward for the new version of the step :)

[2016-09-27 15:37] freever commented on #22
Yeah the multiple deploy steps option is a good one!

[2016-12-30 03:19] alashow opened #23 "Android public install page and other build files"
Hello.

I wanted to config my bitrise.yml to deploy mappings.xml (proguard mapping file).

First, I changed it to:
[code]

Build succeed, but only  mappings.xml was uploaded, apk was missing.

So I tried changing my bitrise.yml to include all build files with compressing:
[code]

With this, I got my all files (apk, mappings etc.) but I will also need public install page.
While having custom deploy

[2016-12-30 03:49] alashow commented on #23
Turns out, I can use same step multiple times.

I changed it to:
[code]

The fIrst deploy step will upload apks with public install page (if successful), second one will upload build/outputs folder.

[2016-12-30 03:49] #23 closed

[2016-12-30 08:16] viktorbenei commented on #23
Correct, that's the "official" way to do this right now ;)

[2017-01-16 19:36] gemmakbarlow-cidemo opened #24 "Error on upload - curl: (3) [globbing] bad range in column 80"
When attempting to upload an artifact built with an `.xcworkspace` scheme called 'Continuous Integration - Development [Project File]' I'm getting the following error in the 'Deploy to Bitrise' step.

[code]

From [this issue](http://stackoverflow.com/questions/8333920/passing-a-url-with-brackets-to-curl), looks like it's the `[` character in the scheme name that's causing the problem.

Seems like

[2017-01-17 11:01] viktorbenei commented on #24
Thanks for reporting the issue @gemmakbarlow-cidemo !

I added this to our internal bug tracker, a fix should be released soon ;)

[2017-01-24 10:50] godrei commented on #24
Hi @gemmakbarlow-cidemo ,
new version [1.2.7](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.2.7) is shared in the steplib, it will be available on the website in ~20mins.

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-01-24 10:50] #24 closed

[2017-01-30 01:17] gemmakbarlow commented on #24
Fab, thanks @godrei.

[2017-04-06 15:53] priscila225 opened #29 "Error installing unpacked APK file"
Steps:

1. Add this step to compile a signed android build
2. After generated the build, download the deployed zip archive and unpack it
3. Try to install the signed apk.

Result on my device (Galaxy S7) :
Failure [INSTALL_FAILED_INVALID_APK] message is displayed.
The logcat show this message: W/ (31953): Zip: 1 extraneous bytes at the end of the central directory

[temp fix] How I workaround this

[2017-04-06 15:57] viktorbenei commented on #29
Thank you @priscila225 , assigned this to the dev team, they'll look at it ASAP!

For context, this was the previous issue in the old artifact deployer step: https://github.com/bitrise-io/steps-bitrise-artifact-deploy/issues/2

[2017-05-25 09:58] godrei commented on #29
Hi @priscila225 ,
we released a new version of Deploy to Bitrise.io step ([v1.3.0](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.0)), this version fixes the zip issue.

Thanks again for the detailed report!

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-05-25 09:58] #29 closed

[2017-05-25 10:01] godrei commented on #12
Hi @viktorbenei ,
we released a new version of Deploy to Bitrise.io step ([v1.3.0](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.0)), this version will print a message if `is_enable_public_page` is set, but public download is not available for the given file type .

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-05-25 10:01] #12 closed

[2017-05-25 12:48] akashivskyy opened #32 "Version 1.3.0 breaks .ipa deployment"
After updating to 1.3.0, the step started to fail when deploying an `.ipa` app:

[code]

It worked perfectly well in version 1.2.9. Is this a regression or perhaps a misconfiguration on my side?

[2017-05-25 12:58] godrei commented on #32
Hi @akashivskyy ,
thanks for the report, i'm working on the issue.
Until i release the fix, please use the previous version (1.2.9).

[2017-05-25 13:03] akashivskyy commented on #32
Ok! Waiting for updates. :)

[2017-05-25 14:46] godrei commented on #32
@akashivskyy we released a new version ([1.3.1](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.1)) with the fix. Thanks for the report!

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-05-25 14:46] #32 closed

[2017-05-26 00:07] patrickbussmann opened #34 "Deploy failed, error: failed to unwrap Info.plist from ipa, error: multiple file generated"
Hey @godrei,

I have an issue with 1.3.0 and 1.3.1 of this version. If I'm using 1.2.9 it's working well :+1:

	Uploading ipa file: /Users/vagrant/deploy/example.ipa
	analyzing ipa
	Deploy failed, error: failed to unwrap Info.plist from ipa, error: multiple file generated

And screenshot.
![Bitrise example build log screenshot](https://cloud.githubusercontent.com/assets/15617021/26475382/dbb34cba-

[2017-05-26 09:02] godrei commented on #34
Hi @patrickbussmann ,
thanks for the report i will fix this ASAP!

[2017-05-26 09:32] viktorbenei commented on #34
It might be obvious, but just to be sure: while we're working on the fix **you can use the `1.2.9` version of the step**. That's part of why we have step versions and why we try our best to keep compatibility with older versions, so that you can use an older version as long as you want.

We'll fix the issue ASAP, just wanted to highlight this as a workaround in the meantime, to get those "ASAP dep

[2017-05-26 10:37] patrickbussmann commented on #34
Yes of course, @viktorbenei :+1:
But I thought it's good for test reasons if I remove the version number from the steps so that I always have the newest version and if there are problems I can help to fix 😊

In this case I will stick to 1.2.9 but if I would have more time I would try to fix this. But currently there are so many updates in my apps so that I don't have time 😔

Thank's @godrei for ch

[2017-05-26 10:42] viktorbenei commented on #34
Sure @patrickbussmann I definitely agree, this should only be a temporary solution for now, while we're working on the fix ;)

To be honest this 1.3.0 release was quite a significant rewrite, that's what causes the issues now even though we tried our best to test it properly. It's not common that we do a full rewrite like this, and we'll improve the tests of this step too :)

[2017-05-29 13:19] godrei commented on #34
@patrickbussmann thanks again for the report!

We released a new version [1.3.2](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.2) with fix for this issue.

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-05-30 14:32] FranMartinRomero commented on #34
We still are having this issue with 1.3.2.

+------------------------------------------------------------------------------+
| (0) deploy-to-bitrise-io                                                     |
+------------------------------------------------------------------------------+
| id: deploy-to-bitrise-io                                                     |
| version: 1.3.2

[2017-05-30 15:07] patrickbussmann commented on #34
@FranMartinRomero please ensure that you set the `BITRISE_IPA_PATH` in xcode-archive step or where you build with.

On my side it's working with 1.3.2 now.
The IPA Path is set on my side through `xcode-archive` step.
In Log you can see:

	Exporting outputs...

	The xcarchive path is now available in the Environment Variable: BITRISE_XCARCHIVE_PATH (value: /var/folders/90/5stft2v13fb_m_gv3c8x9nwc00

[2017-05-30 15:12] viktorbenei commented on #34
Thanks @patrickbussmann for the advise, but in this case I don't think the issue is related to a config, but rather to the 1.3.x revision (re-write) of this step.

Thanks for the report @FranMartinRomero !

@godrei should we move this into a separate github issue, or reopen this one?

[2017-05-30 15:29] godrei commented on #34
Hi @FranMartinRomero , thanks for the report!

@viktorbenei the issue is related to the same package (go-utils/ziputil) but the source of the issue is a new one.

@FranMartinRomero may i ask you for some more log? It would be useful to see the `List of files to deploy` section of the step log.

[2017-05-30 15:42] viktorbenei commented on #34
If possible, @FranMartinRomero please share the whole step log, from the step header to the footer (just this step's)

[2017-05-30 15:55] FranMartinRomero commented on #34
Sure! This is the List of files to deploy section

Switching to workflow: Internal_Deploy_App

+------------------------------------------------------------------------------+
| (0) deploy-to-bitrise-io                                                     |
+------------------------------------------------------------------------------+
| id: deploy-to-bitrise-io

[2017-05-30 16:00] viktorbenei commented on #34
Can it be that the file specified for the deploy actually does not exist at that path? (at the path specified at `DeployPath: ...`

[2017-05-30 16:06] FranMartinRomero commented on #34
I can see a difference in the deploy_path between 1.2.9 and 1.3.2.
1.2.9 use deploy_path: /Users/vagrant/git/XXX/XXX_Dev.ipa
1.3.2.use XXX_Dev.ipa

[2017-05-30 16:07] viktorbenei commented on #34
That will be the issue! Thanks @FranMartinRomero for reporting and for the infos!

@godrei pls schedule a fix for this

@FranMartinRomero in the meantime please use the 1.2.x version of this step, will let you know here once the issue is fixed

[2017-05-30 16:09] FranMartinRomero commented on #34
Thanks @viktorbenei for your quick response. :)

[2017-05-30 16:09] viktorbenei commented on #34
@godrei it seems that a sub dir is missing from the path, maybe some kind of path normalization issue (e.g. that the file's name is used instead of its path somewhere)

[2017-05-30 16:09] viktorbenei commented on #34
@FranMartinRomero any time, and sorry for the inconvenience

[2017-05-31 11:12] godrei commented on #34
Hi @FranMartinRomero there was an issue in our zip package, which only happened if we tried to use the package with relative paths.
We released a new version of the step ([v1.3.3](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.3)), whith the fixed zip package and from now the step expands the `deploy_path`.

@patrickbussmann & @viktorbenei thanks for the infos and clarif

[2017-05-31 11:12] #34 closed

[2017-07-05 08:37] ivarvermeulen opened #39 "Deploy failed, error: failed to create sdk model, error: No path provided"
I'm using the deploy to bitrise step to upload APK files generated within a cordova project. It correctly detects the APK files, however during upload an error is triggered: Deploy failed, error: failed to create sdk model, error: No path provided

+------------------------------------------------------------------------------+

| (2) deploy-to-bitrise-io@1.3.5

[2017-07-05 08:55] viktorbenei commented on #39
Thanks for reporting @ivarvermeulen !

@godrei assigned, please check!

[2017-07-05 12:59] godrei commented on #39
Hi @ivarvermeulen ,
thanks for the report!
Did you run the mentioned failed build on bitrise.io or on your local machine?
The error log is not too informative, but it seems the step does not find `ANDROID_HOME` environment, thats why it can not initialise the sdk model.

[2017-07-05 13:53] viktorbenei commented on #39
Good catch @godrei ! From the paths it seems the build ran on bitrise.io (`/Users/vagrant/git`) but it indeed might be the wrong stack.

@ivarvermeulen did you run this on a Xamarin stack? The standard Xcode stacks don't include the Android tools.

[2017-07-06 06:39] ivarvermeulen commented on #39
@viktorbenei @godrei i'm running it on the xcode stack, however I do install android tools on the xcode stack:

#!/bin/bash
# fail if any commands fails
set -e
# debug log
set -x

# write your script here
brew tap caskroom/cask
brew cask install android-sdk
brew install gradle

[2017-07-06 07:05] ivarvermeulen commented on #39
Also just added these commands after the android-sdk install

export ANDROID_SDK_ROOT=/usr/local/share/android-sdk
export PATH=$PATH:$ANDROID_SDK_ROOT/tools:$ANDROID_SDK_ROOT/platform-tools

But still fails, will try to use xamarin stack now but had other issue in the past using that stack.

[2017-07-06 07:19] ivarvermeulen commented on #39
Using the xamarin stack, the android build fails:

Error: Could not find an installed version of Gradle either in Android Studio,
or on your system to install the gradle wrapper. Please include gradle
in your path, or install Android Studio

[2017-07-06 07:36] ivarvermeulen commented on #39
Issue is solved by installing gradle on the xamarin stack.

[2017-07-06 07:36] #39 closed

[2017-07-06 09:14] viktorbenei commented on #39
Hi @ivarvermeulen , glad to hear you managed to solve the issue :)

Just a couple of notes:

## For your first solution, using an Xcode stack and installing Android SDK manually

What you have to do there is to specify and **expose** the `ANDROID_HOME` env var.

Something like this should work:

[code]

More info about `envman` and how you can expose env vars from one step so that subsequent steps

[2017-07-17 21:44] lhildenST opened #41 "Remove is_expand: false from is_compress input"
by forcing is_expand false by default:
[code]
I cannot pass in an environment value into this step like this:
[code]
which blows.  When I attempt to do so by specifying `opts: -is_expand: false` on the `is_compress` input, I get:
[code]

[2017-07-17 21:47] lhildenST opened #42 "Allow me to specify the name of the compressed .zip file"
if I set `is_compress: true`, the build step deploys a file called `deploy.zip`.  I want to be able to specify the name of this file so that people who look at the deployment artifacts on the build page know what the .zip file contains.

[2017-07-18 09:16] viktorbenei commented on #41
Most likely an indentation issue.

Please try it this way:

[code]

is_compress (the input's key) and `opts` have to be indented to the same "column"

[2017-07-18 09:17] #41 closed

[2017-07-18 09:18] viktorbenei commented on #42
Great idea!

If you have the time feel free to send a PR! :)

(Added to our internal tracker, but probably won't have enough time in the near future)

[2017-07-18 09:28] viktorbenei commented on #42
P.S.: feel free to post this to https://discuss.bitrise.io/c/feature-request for better visibility by others ;)

[2017-08-10 05:01] JulioC opened #43 "Public Install Page for multiple artifacts"
When building for multiple platforms at the same time, this step will copy all artifacts available and create individual pages for each one, but it will set BITRISE_PUBLIC_INSTALL_PAGE_URL for just one of the generated artifacts.

I believe this should be changed to set a BITRISE_PUBLIC_INSTALL_PAGE_URLS (plural) with a comma separated list of the generated pages or make the install page support m

[2017-08-10 11:25] viktorbenei commented on #43
It's a semi-duplicate of: https://github.com/bitrise-io/steps-deploy-to-bitrise-io/issues/22

@JulioC In any case, if you have the time feel free to go ahead and export all urls, but please follow our guidelines from here: https://github.com/bitrise-io/bitrise/blob/master/_docs/step-development-guideline.md#output-naming-convention

- postfix with `_LIST`
- separate values with pipe (`|`) char. Fe

[2017-08-31 10:37] AsifDev21 opened #44 "Deploy test reports to Bitrise.io (exit code: 1)"
+------------------------------------------------------------------------------+

| (10) Deploy test reports to Bitrise.io                                       |
+------------------------------------------------------------------------------+
| id: deploy-to-bitrise-io                                                     |
| version: 1.3.6

[2017-08-31 11:15] viktorbenei commented on #44
Hi @AsifDev21

[code]

Means that the path you specified does not exist there. Note: `/bitrise/src` is the directory where your repo is cloned.

[2017-08-31 11:16] viktorbenei commented on #44
I'll close this here as the issue is most likely not related to the step, but if this would not help @AsifDev21 feel free to contact us at https://discuss.bitrise.io/c/issues/build-issues or through the onsite chat or email on bitrise.io

[2017-08-31 11:16] #44 closed

[2017-09-01 15:16] ghaabor commented on #3
There hasn't been any activity on this issue recently. Due to the high number of incoming GitHub notifications, we have to clean some of the old issues, as many of them have already been resolved with the latest updates.

@viktorbenei  please let us know if we can help with anything and we'll reopen this issue!

[2017-09-01 15:16] #3 closed

[2017-09-05 08:33] godrei commented on #42
Hi @lhildenST ,
thanks for the feature request!
We released a new version ([1.3.7](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/releases/tag/1.3.7)), use `zip_name` input to specify the the zip file's name.

I'll close this issue, but if you need more info/help just let us know and we'll reopen it!

[2017-09-05 08:33] #42 closed

[2017-09-08 06:34] charlesbedrosian opened #46 "Will not deploy file if it has space in the name"

[2017-09-08 08:35] doomsayer13 commented on #46
Hi @charlesbedrosian,
Thanks for reporting, we'll definitely find a solution for this!

[2017-09-25 17:37] trapacska commented on #46
Hey @charlesbedrosian! 👋

Just checked the step multiple ways, and looks like it is working as intended. Please see the results below. Could you please provide more info about the build you had this issue?

Thanks!

[code]

<img width="1436" alt="screen shot 2017-09-25 at 7 26 28 pm" src="https://user-images.githubusercontent.com/1564933/30822186-3e52ef8a-a228-11e7-835b-534e24a0a3bc.png">

[2017-10-02 09:44] trapacska commented on #46
I am closing the issue now, as it still seems to be working fine.

Please feel free to re-open if you encounter any issues!

[2017-10-02 09:44] #46 closed

[2017-10-17 23:40] Hesamedin opened #49 "Deploy failed, error: failed to get apk infos, output: AndroidManifest.xml:683: error: ERROR getting 'android:label' attribute: attribute value reference does not exist"
Hi, I have integrated this step (v1.3.8) into my workflow and I am getting following error in this step:
[code]

However, I am able to install the .apk on emulator/device and there is no issue. I have even checked all `android:label` in all of my project's manifest but I didn't find any resource complain (resource does not exist).

So, it would be awesome if you can have a look at https://www.bitr

[2017-10-18 07:49] viktorbenei commented on #49
Hi @Hesamedin ,

Thanks for the bug report! :)

Did you try it with the previous version (1.3.7), did that have the same issue?

[2017-10-19 01:28] Hesamedin commented on #49
Hi @viktorbenei, Thanks for your reply. Yes, I tried few lower version and I got similar error.
As, I am not able to find issue from my apk file then I decided to download generated apk file from Bitrise and send it via email. This is my script:

[code]

However, this is what I got:
[code]

Is there any other way to download the apk file?

[2017-10-19 06:57] Hesamedin commented on #49
Okay, I was able to get `FTP Upload` step into work and push my apk file somewhere and then download it.
I confirm I am able to install it on emulator/device without any issue and the app works fine.
I also confirm this problem doesn't happen always as some builds have passed without this problem (with similar workflow).

@viktorbenei what is the command you are using for analyzing apk files or ho

[2017-10-19 07:25] Hesamedin commented on #49
I checked your code at [here](https://github.com/bitrise-io/steps-deploy-to-bitrise-io/blob/master/uploaders/apkuploader.go#L74-L77). So, I am guessing you are running `aapt dump badging` on the apk file. Am I right? If yes, I found it doesn't work well alwys. There are some Q/A about it on Stackoverflow. [This is for refrense](https://stackoverflow.com/a/17009646/513413).

[2017-10-19 10:16] viktorbenei commented on #49
Thanks for all the info and debugging @Hesamedin !

Could you please send us the APK which causes this issue? So far we could not reproduce this error, so it'd help a lot if we'd have an APK to test with. (feel free to send it via email/onsite chat if you don't want to share it here)

[2017-10-20 16:24] Hesamedin commented on #49
Finally, we are able to find the issue. Luckily, there is no problem with `aapt` command.

We have localization for several countries. The problem was a developer had added a resource for a non-English language and (not the main one, English). Although problem fixed, the line of issue was not the line reported in `AndroidManifest.xml` by `aapt` command. So, heads up!

[2017-10-20 16:24] #49 closed

[2017-10-20 16:58] viktorbenei commented on #49
Ahh, good catch & thanks for reporting the solution @Hesamedin ! :)

[2017-11-10 11:46] fwigorcferreira opened #50 "Curl error (52) on uploading file: Deploy failed, error: failed to upload file artifact, error: exit status 52"
Whitout making any changes in the step, nor workflow, the deplooy of files to bitrise started to fail with an unresponsive server response.

Is there any new rule that need to be checked?

Build log:
[code]

[2017-11-10 11:53] viktorbenei commented on #50
Can you please upgrade to the latest version of the step and try with that again? That should help, if it would not just let us know! :)

[2017-11-10 12:04] fwigorcferreira commented on #50
@viktorbenei It worked now after the version update. Sorry for the time wasted.

[2017-11-10 12:04] #50 closed

[2017-11-10 12:12] viktorbenei commented on #50
No problem at all @fwigorcferreira :)

If you'd see this happen again with the latest version just let us know!
Happy Building! :)

[2017-12-14 12:39] #43 closed

[2017-12-14 19:15] viktorbenei commented on #22
A new option will be available, introduced in https://github.com/bitrise-io/steps-deploy-to-bitrise-io/pull/54 ; the `BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP` output will include a map of all the generated public install pages.

Not released yet, but should be soon (after merging https://github.com/bitrise-io/steps-deploy-to-bitrise-io/pull/55 & publishing a new version) :)

[2017-12-15 14:14] #22 closed

[2018-03-12 22:26] tir38 opened #56 ""Enable public page for the App" should default to false"
Since this step is auto-added to new projects, I think the public page URL should default to false. I know it generates a random and long URL, but I'd prefer if this was not shared publicly at all. We have been building for a while and didn't realize we'd been exposing our apk on a public install page until now.

[2018-03-13 09:45] viktorbenei commented on #56
Thanks for the feature request @tir38 ! :)

[2018-03-13 19:22] tir38 opened #57 "Group not being notified"
This is the pertinent part of my bitrise.yml:

[code]
I'm not seeing any emails go out to people in that group. It doesn't matter if the group is part of team or not (tried both). The task seems to run just fine:

[code]

[2018-03-14 10:15] viktorbenei commented on #57
Hi @tir38 ,

As mentioned in the Notify User Groups input's description (https://github.com/bitrise-io/steps-deploy-to-bitrise-io/blob/b976ce63b35e6174fa1b27b9d4971faeade5d68b/step.yml#L95) the possible group names are:

        * none
        * testers
        * developers
        * admins
        * owner
        * everyone

This means that only App groups/roles are possible, no Organization grou

[2018-03-14 19:52] #57 closed

[2018-03-15 21:46] foggy1 opened #59 "Access URL Map"
I'm working with a react native app, and I'm able to get everything to build, but I'd like to send the full install list map (with the android AND ios links) in one single go to Slack.

When I try to do this right now, I do it as such within the table `All Install Links|${BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP}`

This works, but it dumps out the map as one single blob of text (e.g. "app-release.apk=>

[2018-03-19 16:05] viktorbenei commented on #59
That sounds a reasonable solution.

Ideally what would you like to see / how should it work?

[2018-03-19 16:47] foggy1 commented on #59
If the urls are available in order to generate a map, it seems like it would be pretty cheap to just assign them all to individual ENV variables to start with. One of the biggest upsides of Bitrise is how easy it is to drop in ENV variables from throughout the flow.

Dropping in a whole map, however, is way more costly, as its implementation and the rules for dealing with it vary throughout contex

[2018-03-20 21:16] viktorbenei commented on #59
Definitely, but what would be the ENV key? What would it based on?

In general our recommendation if you want the URLs separately, and the map doesn't work, to add as many Deploy to Bitrise.io steps as many IPAs and APKs you want to deploy, and simply set the path one by one. That way every Deploy to Bitrise.io step will expose the single Public Install Page URL in the `BITRISE_PUBLIC_INSTALL_PAGE

[2018-04-04 17:03] darkplataform commented on #59
Hi, I have the very same problem, but I only work in an android project which have two flavors, and got two apk for each flavor(1 for release and 1 for debug).  The map is generated correctly and assigned to BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP variable:

BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP (value: XXXXXX-OtherRelease-1.6.4-1000175.apk=>https://www.bitrise.io/artifact/xxxxxx/p/yyyyyyy |XXXXXX-YYYYY

[2018-04-05 17:58] viktorbenei commented on #59
@darkplataform can you please create a separate issue for this problem, with the link of the build or full log? It seems yours is a separate issue and we'll need more info (e.g. the build URL) to be able to tell what the issue is there (most likely a config issue, but can't tell anything useful without a URL :))

[2018-04-05 23:32] darkplataform commented on #59
@viktorbenei  I submit a new issue, but I manage to get the blob text putting the env variable on the table of attachments, please see the issue I opened:
https://github.com/bitrise-io/steps-slack-message/issues/38

[2018-04-09 17:43] gitizenme commented on #59
The blob ends up rendering as on massive link, see:

![image](https://user-images.githubusercontent.com/643504/38513336-c3958212-3be2-11e8-92f4-557ba7449da5.png)

[2018-05-08 17:27] darkplataform commented on #59
That is exactly what I did, forgot to share it! thanks for remind me 👍 :
[code]

[2018-05-08 17:29] ValeryP commented on #59
@darkplataform haha.. synergy 💪
Would be also nice if you can share this part of the workflow `bitrise.yml` config to understand where to place it correctly.

[2018-05-08 17:52] darkplataform commented on #59
@ValeryP good call!:

workflows:
  QA:
    steps:
    - script@1.1.5:
        inputs:
        - content: "#some validations"
        title: Validate Build
    - build-number-adjust@1.0.0:
        run_if: enveq "RUN_FULL_BUILD"  "0"
        inputs:
        - decrease: '1'
    - slack@2.7.2:
        run_if: enveq "RUN_FULL_BUILD"  "1"
        inputs:
        - text: A build just started in the Devel

[2018-08-10 23:11] panoramix360 opened #67 "Bug on Android build Deploy to Btirise"
Hi!

When I changed to the new version of step "Deploy to Bitrise.io" (1.3.14).

My build on Android environment is changing the versionName of the app with a strange string like the following:

Version code: 48
Version Name: 1.1.0' platformBuildVersionName='

![image](https://user-images.githubusercontent.com/2154092/43984840-8793e256-9cd9-11e8-9371-e7b8e7974ffb.png)

I don't know why the string

[2018-08-14 13:42] tamasbazs commented on #67
Hi @panoramix360 ,
Thank you for reporting this issue! Could you send us the URL of the given build?

[2018-09-17 11:50] kibotu opened #72 "wildcard for file type"
hi,

i'd like to archive only a specific file type, e.g.: *.nupkg

any ideas how i can achieve this?

best regards
Jan

[2018-09-18 09:06] bitce commented on #72
Hi @kibotu

You could achieve this by simply not generating any other artifacts. Is there something else to it that I'm not seeing? Let me know!

[2018-09-18 14:44] bitce commented on #72
Oh I see, sorry I was interpreting this as more of a general question.

Could you send us a build URL to see if there was something we could recommend to make your life easier in this extend?

Though generally, I would recommend checking our [feature request board](https://discuss.bitrise.io/c/feature-request) in similar cases, to see if someone has requested a similar feature already or to create

[2018-09-18 17:28] kibotu commented on #72
i ended up adding a remove everything but the nugets script build step thanks though

[2018-09-19 08:59] bitce commented on #72
Glad to hear that, way to go! :)

[2018-09-20 07:32] ronnnnn opened #73 "Can't get install pages except for .apk and .ipa files"
## Summery
- I would deploy mapping.txt file to bitrise with using this step.
- I could get public install page for my .apk files, however I couldn't get it for my mapping.txt
- I attach log below.
- I read source code and found the reason why.
<img width="742" alt="log" src="https://user-images.githubusercontent.com/12420269/45801923-563fe100-bcf0-11e8-8db0-bfdfa2de856b.png">

## Reason
- When th

[2018-09-21 01:28] ronnnnn commented on #73
Hi @BirmacherAkos

Thanks replying rapidly.
Okey, I understood we can't get download pages for files except fir .apk and .ipa files.

I'll try your recommend way to get it.
And, I hope my request will accept soon!

[2018-09-21 01:28] #73 closed

[2018-10-22 08:28] PaulWoitaschek opened #76 "Ignore on absent directory"
I have a general `post` workflow which pushes the cashes and artifacts to bitrise.
Now I have one workflow where I don't have produced an artifact.
It would be great if upon an absent directory, bitrise would just log a message that here was nothing to deploy and ignore the failure.

[2018-10-26 08:32] trapacska commented on #76
Hey @PaulWoitaschek !

You can set `is_skippable` to true for the step in your bitrise.yml, then it will be skipped in case of a failure. Will that help in this issue?

[2018-11-13 13:16] PaulWoitaschek commented on #76
Is there no way to do this from the UI? I don't use the `yml` config.

[2018-11-13 13:56] bitce commented on #76
Hi @PaulWoitaschek,  this can be done from the UI with this toggle button:
<img width="967" alt="screenshot 2018-11-13 at 14 54 18" src="https://user-images.githubusercontent.com/40164469/48417854-1f1c0800-e754-11e8-8131-0e66f42c131a.png">

Although If I understand correctly, you'll want the following steps to run, so this should be toggled to the green check state.

[2018-11-13 18:30] PaulWoitaschek commented on #76
I don't care about the state of the previous step. I just don't want my whole build to fail because the `_post` step found no directory to upload.

Are you sure the flag would help here?

[2018-11-14 08:16] bitce commented on #76
Sorry, not really sure since you did not provide much detail here, I was assuming based on the description that you are faced with an issue that the cache doesn't get pushed due to the Deploy step failing expectedly. Setting this for the Cache step would definitely help in this specific scenario.

Unfortunately, there isn't a way to not have the step fail on absent directory, you may submit a feat

[2018-11-14 08:20] PaulWoitaschek commented on #76
Don't mind I just added a script step creating the directory.

[2018-11-14 08:20] #76 closed

[2018-11-20 15:18] taenguree opened #77 "Deploy failed, error: failed to get apk infos, output: package: name='MYPACKAGENAME' versionCode='MYVERSIONCODE' versionName='MYVERSIONNAME' platformBuildVersionName='MYVERSIONNAME' compileSdkVersion='28' compileSdkVersionCodename='9'"
I am getting following error on this step (v1.3.18)

`Deploy failed, error: failed to get apk infos, output: package: name='MYPACKAGENAME' versionCode='MYVERSIONCODE' versionName='MYVERSIONNAME' platformBuildVersionName='MYVERSIONNAME' compileSdkVersion='28' compileSdkVersionCodename='9'`

My project is an android project and it has many dimensions so it's variant is combinations of dimensions. fo

[2018-11-20 15:20] bitce commented on #77
Hi @taenguree  initially can you please include a build URL so we can see into this issue?

[2018-11-20 15:23] taenguree commented on #77
@bitce Hi, Thanks for the comment.

https://app.bitrise.io/build/439e8fa045aa1330

Here is the build URL.

[2018-11-22 09:32] taenguree commented on #77
previously, my project has no [drawable] folder but has [drawable-xlarge] folder only.
After I copied my android:icon resource from [drawable-xlarge] to [drawable] the issue had been fixed.

Thanks !

[2018-11-22 09:35] bitce commented on #77
Oh I see, thanks for clarifying, good job!

[2018-11-22 14:02] #77 closed

[2019-01-11 12:10] lszucs commented on #59
Hi @foggy1

We released a new feature, which gives you the opportunity to format the map value using a Go template. The `BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP` variable will be populated with the output of the template.

You may provide the template in the `public_install_page_url_map_format` input.

For example:

`
        - public_install_page_url_map_format: |
            {{range $index, $element

[2019-02-13 05:43] wongkaking opened #80 "How iOS build multiple .ipa"
Hi, I am Kary
I have a question about how to build multiple `.ipa` file.
My situation is now I can get maybe two `.ipa` file, and send a message to slack channel automatic, but there is just one `install page` button and just link to `QA.ipa`, I can just download one `ipa` by this way, I want to download all page by this way, how can I do this.
Thx~
![image](https://user-images.githubusercontent.c

[2019-02-14 10:10] fehersanyi-bitrise commented on #80
Hello there!

If you go to bitrise to the build page's app&s and artifacts tab you can download everything.

[2019-05-24 15:16] SamuelDebruyn opened #83 "Version 1.4 asks for a directory path and does not accept the path to a file"
Since version 1.4.0 we are unable to deploy a file. The error message is `DeployPath: src/Droid/bin/Release/be.ourid-bitrise-signed.apk: not a directory`

[2019-05-24 18:58] usmonster commented on #83
Same here—this is blocking some of our pipelines. A workaround is to pin to an earlier version, but it's not ideal.

[2019-05-25 07:52] meyn commented on #83
doesn't work with the 1.4.1 version either (1.3.19 works though)

[2019-05-28 06:46] rubenhorn opened #85 "deploy-to-bitrise fails if DeployPath not a directory"
https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/ad460f718d9c2f56b4863366ce14c00f166dd5b8/main.go#L28

Ever since this commit the step always fails, if I try to deploy a single file:
[code]

I'm going to further look into this, but I assume this is not the intended behaviour:
 https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/24632320c6bece154b8adae4dbda6ef045981

[2019-05-28 07:10] trapacska commented on #85
Hey @rubenhorn !

Thanks for the report, the fix already implemented: https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/pull/84

The new version of the step will be released soon.

[2019-05-28 07:10] #85 closed

[2019-05-28 07:18] trapacska commented on #83
Hey @rubenhorn !

Thanks for the report, the fix already implemented: #84

The new version of the step will be released soon.

[2019-05-28 07:18] #83 closed

[2019-05-28 14:36] gabriel-prado-ifood opened #87 "Unsuccessful response after Uploading test result"
Hello Guys, im trying to upload our test results but Im getting this error.

Upload test results
- uploading (6) test results
Failed to upload test results: %!(EXTRA *errors.errorString=unsuccessful response code: 403
body:
{"error":"Unauthorized request"}
)

[2019-05-28 15:36] kreeger commented on #87
Can verify that I'm getting the same thing. I'm rolling back to a previous version of this workflow (v1.4.1) step to see if this resolves it, but I'm not sure it will (this seems like a backend service issue).

[2019-05-28 15:39] gabriel-prado-ifood commented on #87
Hello @kreeger , I'm getting it with bitrise.io deploy v1.4.0... Indeed, looks like backend issue.

[2019-05-28 16:57] tamasbazs commented on #87
Hi @gabriel-prado-ifood , @kreeger

Thanks so much for the report. We’re really sorry to be holding you up today! 😞

Please know that our Website team is aware of this issue and they are working hard to get everything up and running. We will send you a follow-up message here as soon as it's resolved.

Thank you for your patience! 🙌

[2019-05-29 07:34] bitce commented on #87
Hi guys!

Just wanted to let you know that this should be solved and everything is back to normal, thanks for all your tireless patience and understanding! 🙂

[2019-06-04 14:55] jamieadkins95 commented on #87
@bitce We are seeing this issue again today

[2019-06-05 09:06] bitce commented on #87
@jamieadkins95  could you include a build URL please?

[2019-06-05 11:38] jamieadkins95 commented on #87
https://app.bitrise.io/build/d1247c9f09e109a1

Only happened a couple of times yesterday, haven't had any problems today

[2019-06-05 12:32] bitce commented on #87
Thanks! Consulted with the team and should have been a momentarily issue, but let us know if you experience this otherwise!

[2019-06-10 00:20] francescopretelli opened #88 "Illegal character code, failed to upload test results"
Lately I get the following error:
`Error during parsing test results: %!(EXTRA plist.plistParseError=plist: error parsing XML property list: XML syntax error on line 6074: illegal character code U+0008)`

The build is shown as failed although it is actually successfully deployed and built, not sure what the error is about.

[2019-06-11 11:24] bitce commented on #88
Hi @francescopretelli!

We're aware of the issue and currently working on the fix, thanks for your report!

[2019-06-12 22:19] saudeoncovr opened #89 "No file found at path error"
When uploading test results, I am currently facing the following error:
`Error during parsing test results: %!(EXTRA *errors.errorString=No file found at path: /var/folders/6q/wgy6jtp12w5gzgm9lzcglpqw0000gn/T/test_results532517436/test_result489868446/[REDACTED]/Test.xcresult/TestSummaries.plist)`

This is obviously after running the [xcode-test](https://github.com/bitrise-steplib/steps-xcode-test

[2019-06-13 00:42] gabriel-prado-ifood commented on #87
Thanks guys! Was solved 👍

[2019-06-13 00:42] #87 closed

[2019-06-15 09:18] zachsimone commented on #89
+1. Getting the same error after building with Xcode 11 beta.

[2019-06-17 12:41] bitce commented on #89
Hi guys, sorry to hear about the issues! Could you include build URLs we could take a look at?

[2019-06-17 13:33] saudeoncovr commented on #89
@bitce https://app.bitrise.io/build/1ff27fea9f8a4fb9 here's one!

[2019-06-18 09:33] zachsimone commented on #89
Hey @bitce, here's one of the builds that's just returned this error. https://app.bitrise.io/build/d62f0cb334bb75e2
Let me know if I can provide more info. Thanks!

[2019-06-18 09:36] bitce commented on #89
Hi @zachsimone @saudeoncovr,

Thanks for the details! Can you check if you experience the same issue with the new version of the step? The fix was recently released: https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/releases/tag/1.5.0

[2019-06-18 10:02] zachsimone commented on #89
Hi @bitce, I just tried v1.5.0 for a build, and it worked perfectly. Thank you!

[2019-06-18 18:19] saudeoncovr commented on #89
Yep, looks to be resolved @bitce, thanks!

[2019-06-27 10:43] zawadz88 opened #92 "Add support for adding log & other files for Test add-on"
Hi,
First of all thanks for introducing the Test Reporting add-on - we use it in our project and it makes much easier to see what went wrong in a build.

I would like to request one additional feature i.e. an option to upload log & compressed files as well. According to the doc this should be possible now:
https://devcenter.bitrise.io/testing/exporting-to-test-reports-from-custom-script-steps/

I'

[2019-06-28 00:54] DSteve595 opened #93 "No way to opt out of universal APK generation"
When deploying a bundle, the step automatically builds a universal APK out of it. However, it's not signed with the same key, so it's not useful to us. We're manually calling `assembleRelease` in addition to `bundleRelease` so that we get an AAB and a universal APK, both signed. It would be good to have an option to prevent the step from generating its own universal APK.

[2019-07-03 08:51] bitce commented on #93
Hey @DSteve595,

Thanks for reporting, could you please include a build URL of this happening here?

[2019-07-03 09:20] zawadz88 commented on #92
Alternatively, would you review a PR with such changes introduced?
Or is it against your policy to add non-image artifacts to Test Reports?

[2019-07-03 14:50] DSteve595 commented on #93
@bitce Can I send it privately?

[2019-07-04 09:08] bitce commented on #93
Sure thing, just hit us up on our on-site chat 🙂

[2019-07-08 09:22] linean commented on #93
We have the same issue as @DSteve595 . In my opinion generating universal APK should be treated as a separate step.

[2019-07-12 06:56] Diego-Franco commented on #93
Any update on this one? I have the same issue

[2019-07-29 14:52] #89 closed

[2019-07-30 13:28] radko93 commented on #93
The same issue, I can't upload my bundle, I don't care about the universal APK.

[2019-07-30 13:48] ahvth-bitrise commented on #93
Hi everyone! 👋 Basically we included the universal APK creation in our Deploy to Bitrise.io step for troubleshooting purposes. The step should in no way be changing the actual exported bundle or excluding it from deployment to Bitrise. If for whatever reason, the step is interfering with that functionality, please send us a build URL and we will look into it 😄

[2019-08-14 19:14] cmarchal opened #97 "Could not check if given project is macOS or not. No file found at path"
Hello,
First, thanks for your work !
I face an issue on version 1.7.0 of your step but everything is working fine with version 1.6.1.

Here is the error message:

`deploy failed, error: could not check if given project is macOS or not, error: No file found at path: {path}/{app}.xcarchive/Info.plist`

Do you know what I can do to fix it ?

Thanks in advance !

[2019-08-15 11:39] bitce commented on #97
Hi @cmarchal, can you please include a build URL so we could check out the related logs?

[2019-08-15 12:43] cmarchal commented on #97
Sure, here it is : https://app.bitrise.io/build/84f9887ffd88704f

[2019-08-23 12:40] RustamG commented on #93
@ahvth-bitrise,
The thing is that Install page will contain universal APK instead of AAB that I specified in _Deploy directory or file path_

[2019-08-29 14:05] bitce commented on #97
Hi @cmarchal!

Thanks. Sorry for the delay, unfortunately, we'd need your .xcarchive folder and the related project files. Could we contact us via e-mail at letsconnect@bitrise.io or on the on-site chat and send them over so we can conclude the investigation?

[2019-08-29 14:18] bitce commented on #93
Hi @RustamG!

That's correct. We do have an ongoing issue, but that's that the Deploy step will print this out otherwise (says that an install page is available for the .aab while it's only so for the universal .apk)

This is intended because .aabs are zips and you couldn't directly install them on your device (not due to it being a folder but due it being a distribution method essentially) - that

[2019-09-06 20:37] arthursady commented on #93
@bitce Is there a way to send the email with the .aab public install page automatically?

I don't want the email to install the apk in a device. I want to be able to download the file without necessarily having access to the bitrise credentials from my account.
That would make my flow much easier if I can send the link to the .aab instead of the link to the .aab.universal.apk

[2019-09-11 10:08] Roland-Bak commented on #93
Hi there @arthursady!

There is a way that you can manually enable sending a public install page:
![image](https://user-images.githubusercontent.com/51744225/64688181-1a1b0880-d48c-11e9-8dee-d74d35674b5f.png)

If you have Slack, you can update it to send a message with all public install pages.

**How to use it:**

- Place the Script step between Deploy to Bitrise.io and the Send a Slack message s

[2019-09-24 19:34] jeremywiebe opened #102 "File upload fails when file size is 0"
I've been working to resolve an issue where our builds fail if one of the files specified in the Deploy to Bitrise step is 0 bytes.

The error I'm seeing is:
[code]

After some research, I believe this is due to the [go http library](https://github.com/golang/go/blob/141b09726dcfc1fa9f04ee9e08e6fa4af00fa57b/src/net/http/request.go#L520) setting transfers to chunked encoding if the file size is 0 _

[2019-09-26 15:50] WarrenFaith opened #104 "BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP contains the same URL for two separate artifacts"
Stumbling about the issue reported as #59 I was able to fix the formatting of the url map (for a slack message), but in my case (I use the Android Build step to build an aab) the map contains an entry for the apk and for the aab. But both links are the same and show the apk install page.
Also the aab (when viewing the artifacts tab) has no public install/download page set but the apk has.

If I re

[2019-09-26 15:50] WarrenFaith commented on #59
@lszucs this works for me, but please have a look at #104

[2019-10-01 11:52] WarrenFaith commented on #93
@ahvth-bitrise personally I am fine with the generated universal apk as our QA can easily test it this way.
The only issue is: the apk is not signed correctly. It is signed with an Android Debug key, so we are unable to upload the apk into the store nor can we install it over previously generated and released apks because of mismatch of the certificate. The aab has the right certificate...

Certif

[2019-10-01 18:34] foggy1 commented on #59
@lszucs @godrei it's been awhile since I touched bitrise but this seems like a reasonable solution since the crux of the issue was having to dig into code and grep stuff in an ad hoc manner. A template solves that for sure.

[2019-10-01 18:34] #59 closed

[2019-10-01 21:59] maxlapides commented on #93
I agree with @WarrenFaith. The root of the issue is the incorrect signing of the universal APK.

[2019-10-02 15:45] jeremywiebe commented on #102
Resolved by #103

[2019-10-02 15:46] #102 closed

[2019-10-04 11:22] vpontis commented on #93
Yep, also having problems with the APK since it is signed with the incorrect key.

It looks like it should be pretty easy to fix. We just need a way of putting in the path to the keystore via env vars here: https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/f21a87fa42176f4bf03bf4744300400e86994dcf/aabutil.go#L56

[2019-10-09 16:50] andriy-gulak-ew opened #107 "Upload to Bitrise Step can't handle empty CHANGELOG.md"
The problem is the following:
I have a build that was triggered by a git tag creation, let's say it's 1.1.2. Right after that, I decided to create another tag 1.1.3, but this last build caused by git tag 1.1.3 creation has failed because of the empty CHANGELOG.md generated by the "Generate changelog" step and "Upload to Bitrise Step" can't handle empty CHANGELOG.md

So, I have the following list o

[2019-10-15 11:04] bitce commented on #104
Hi @WarrenFaith!

Sorry about the delay. Thanks for the detailed report however, can you please also include a build URL so we can see the logs completely?

As for the .aab not having an install page by default, that's expected 🙂

[2019-11-23 05:43] PhuTran92 opened #109 "Deploy failed, error: Program type already present: $r8$java8methods$utility$Integer$hashCode$II"
Hi guys,

I am getting following error when trying bundle the universal APKs from . aab (v1.9.2)

[code]

As I searched, I find out that the error could be caused by using the old bundle tool version 0.9.0 (fixed . in version 0.10.3).  For more information please refer to this [link](https://github.com/google/bundletool/issues/113).

Are there any ways that I can can change the bundle tool version

[2019-11-23 16:09] cnadeau opened #110 "deploy_path wildcard support"
HI, we're building different projects using the same bitrise.yml and I would like a generic way to upload the ipa as an artifact

Using
[code]

actually finds the ipa, but the uploader fails to upload

[code]

Any idea if this can be done?

Cheers!

[2019-11-23 19:53] PhuTran92 commented on #109
I have resolve the issue by fork the repo and update the version of bundle tool to 0.10.3.

[2019-11-23 19:53] #109 closed

[2019-11-26 22:45] tir38 commented on #93
Just to create a paper trail: https://discuss.bitrise.io/t/android-stop-deploy-to-bitrise-io-step-generating-deploying-universal-apk-file-from-aab-file/10861/2

[2019-12-09 09:51] squeeish commented on #93
Thanks for this. Yes, the universal APK is being signed wrongly.

[2019-12-11 10:03] mqln commented on #87
I'm seeing this error today, but only for deploying our test log file. Is this something on your end, or have I borked a permission?

[2019-12-11 16:36] kreeger commented on #87
Yeah, I'm seeing this pop up again, too.

[2019-12-12 13:57] bitce commented on #110
Hi @cnadeau!

Can you please include a relevant build's URL? What is the solution you're looking for exactly, IPAs are uploaded as artifacts by default behaviour, so it's not completely clear to me

[2019-12-12 15:49] bitce commented on #87
Hi @mqln and @kreeger! Are you experiencing this consistently? This was possibly due to an incident we had yesterday, although the error should have been slightly different than the one originally reported here.

[2019-12-12 16:52] kreeger commented on #87
@bitce It cleared up eventually!

[2020-01-02 10:52] archdanny opened #114 "Bundletool error: Error: Program type already present"
Hi,

I'm getting a "Error: Program type already present" following error while creating a universal APK from an AAB.

Other users are also encountering this issue.
https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/issues/109

The bug is related to the older bundletool version being used, v0.9.0. The issue has ben fixed in newer versions.
https://github.com/google/bundletool/issues/113

[2020-01-02 18:35] non-binary commented on #114
Hi @archdanny,

Thanks for reaching out.

I'll look into this and draft a pull request for our engineering team to consider.

Thanks,
Luna

[2020-01-03 13:43] non-binary commented on #114
Hi @archdanny,

Thank you for your patience.

As you can see, I've filed a pull request for this change and forwarded it on to our tooling team so they can check it out and approve it for merge.

Please don't hesitate to follow-up if you have any questions in the meantime.

Cheers,
Luna

[2020-01-05 23:30] archdanny commented on #114
Hi Luna,

Thnx for the pull request

[2020-01-07 14:30] non-binary commented on #114
Hi @archdanny,

Thank you for your patience.

The Bitrise tooling team has confirmed with me that have a JIRA Issue for my pull request and will check it in the next sprint.

Until then, if you want to use the fix, you can run the step from my branch with the fix by following the steps found in [this guide](https://devcenter.bitrise.io/steps-and-workflows/adding-removing-steps/#adding-steps-from-a

[2020-01-11 18:02] archdanny commented on #114
Hi Luna,

We're already using a fork I made with the updated bundletool version.
Great to hear that the PR (LGTM) wil be checked next sprint.

Regards,

Daniello

[2020-01-15 06:53] danielhalim92 commented on #93
Created the feature request here: https://discuss.bitrise.io/t/sign-auto-generated-apk-by-deploy-to-bitrise-step-using-the-same-keystore-to-sign-aab/11581

[2020-01-24 10:31] notjosh commented on #97
Bumping this issue with some new information, as I just tried to upgrade from 1.6.1.

The `.xcarchive` filename seems to be used to assume the name of the contents of the zip, which in our case is different (to match some other naming conventions). A concrete example here is:

[code]

The line at fault is here: https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/b311804b6b9bcbb46352

[2020-01-24 11:43] bitce commented on #97
Hi @notjosh thanks a lot for the details? This is happening on the latest version of the step, right? Can you please also send a build URL for us to look at?

[2020-01-24 11:45] notjosh commented on #97
Yes, 1.9.5.

Sure! https://app.bitrise.io/build/db796ae56c7866fe

[2020-01-31 04:37] kceb opened #117 "How to utilize when running locally?"
I'd like to be able to utilize the deploy to bitrise io step when running locally with bitrise CLI. This gives me the ability to install the iOS app on mobile devices because of the extra "Check if this app is compatible with your phone" step which downloads a configuration profile. I'm not sure how to easily download the app otherwise. If I were to upload the .ipa to S3, there wouldn't be an opti

[2020-02-13 11:56] kiransarvaiya opened #118 "Notification via email not working in already configure setup"
Notification via email not working in already configure setup
From today email notification not working
Version 1.9.5

[2020-02-13 12:07] #118 closed

[2020-02-20 21:16] non-binary commented on #117
Hi @kceb,

Are you looking for assistance with this still?

If so, please let us know and I'll look into it for you. If not, please share your answer and close ticket.

Thanks,
Luna

[2020-02-21 01:37] kceb commented on #117
I have opted for using diawi to host my ipa/apk files.

[2020-02-21 01:37] #117 closed

[2020-02-21 16:22] bitce commented on #97
Hi @notjosh!

Sorry for the insane delay here! Can you please send us your .xcarchive folder and the related project files. Could we contact us via e-mail at letsconnect@bitrise.io or on the on-site chat and send them over so we can conclude the investigation?

[2020-02-21 16:25] notjosh commented on #97
Hiya @bitce, no problem on the delay, I worked around the issue so it's not really a blocker for us at all. Just hoping not to update past 1.6.1 any time soon ;)

I, uhhh, don't really have that around now, but it's not really specifically related to the issue. There should be enough information in simply "the zip filename does not match the filename of the contents" for you to go on, I'd think?

[2020-02-21 16:29] bitce commented on #97
Glad to hear it not being a blocker!

This was something specifically requested earlier about the problem from our Tooling team. I can't really say for certain what would be enough to go on, but based on the error message being about not finding the file, which is clearly there, I would suspect it to be relevant.

[2020-02-21 16:35] notjosh commented on #97
Nonono, it's the _container_ `.zip` (which contains a `xcarchive` file) that is the issue here. The actual `.xcarchive` is completely irrelevant, as per my example.

To reiterate explicitly: there's a `.xcarchive.zip` file, which contains a `.xcarchive` file.

The script can't find the `.xcarchive` file because it's assuming the filename is the same as the `.zip`'s file name, that's all. Nothing s

[2020-03-19 10:24] paramaggarwal opened #119 "Show SHA256 of debug.keystore for configuring Google login"
Our app uses Google login, which is configured via Firebase, which verified app source using the `SHA256` signature of the signing keystore.

We are creating a temporary keystore and we need to mention the SHA256 signature in the README otherwise suddenly login stops working.

https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/b74fb07f34f8a76469896e2116b1f8932826a254/aabutil.go#L38

[2020-03-19 10:25] paramaggarwal commented on #93
Yes, the APK is signed using a temporary key. It should pick up the credentials from the `$BITRISEIO_******` family of code signing variables that configured already in the workflow as standard.

https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/b74fb07f34f8a76469896e2116b1f8932826a254/aabutil.go#L38-L51

[2020-03-26 10:11] paramaggarwal opened #121 "[Feature Request] Option to use custom keystore when generating Universal APK from AAB"
## Problem
The APK is signed using a temporary debug key - this causes problems like the one mentioned in https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/issues/119. Kindly give an option to use a custom keystore instead.

## Suggestion
It can pick up the credentials from the code signing variables that configured already in the workflow as standard. Please use these when available,

[2020-04-07 07:24] bitce commented on #121
Thanks for the report @paramaggarwal! Can you please include a build URL we can take a look at here?

[2020-04-07 08:11] Roland-Bak commented on #119
Hi there @paramaggarwal!

If you need to mention the SHA256 signature in your readme file, you can append it to the end of your file via a script step:

`sha256sum /path/to/debug.keystore >> README.md`

(In case you are running on mac you would need to run `brew install coreutils` to get sha256sum beforehand)

Hope this helps :)

[2020-04-07 08:20] paramaggarwal commented on #121
I don't wish to share a build URL - my concern is that I would like to give a custom signing credentials and not use the default ones here:

https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/blob/b74fb07f34f8a76469896e2116b1f8932826a254/aabutil.go#L38-L51

[2020-04-07 08:20] paramaggarwal commented on #119
Thanks 👍

[2020-04-07 08:20] #119 closed

[2020-04-08 07:37] bitce commented on #121
Understood completely! It just would have been useful to see logs of the actual behaviour supporting what you describe, but it's your call, of course, thanks for the report 🙂

[2020-04-13 09:16] paramaggarwal commented on #121
I can't actually find the logs now because I had used a workaround since that time. I think I have used wrong issue title here... Fixing...

[2020-04-13 09:20] paramaggarwal commented on #121
@bitce I am sorry for causing confusion initially. I would like to clarify - this is a feature request and not a bug report. Hence log won't be needed as I can't even find it right now...

I would like to request a way to give a custom keystore when it generates a universal APK from the AAB. Currently it uses a hardcoded generic keystore which is generated on-the-fly.

I would like to use such env

[2020-04-27 16:16] jamieadkins95 opened #123 "Bump to bundletool 0.13.4+"
Hey guys,

Bundletool 0.13.4 fixes a pretty important issue for us:
https://github.com/google/bundletool/releases/tag/0.13.4

Could you update this step to either use 0.13.4 or 0.14.0?

Thanks!

[2020-04-27 16:19] jamieadkins95 commented on #123
Fixed in #122 I guess haha

[2020-04-30 13:00] non-binary commented on #97
This is a known issue and we already have the card created for this to be solved. We will let you know once it has been fixed.

[2020-04-30 16:34] G00fY2 commented on #93
Any news on this?

We run _assemble_ and _bundle_ task and use the "Android Sign" step afterward. This results to the following files:
[code]

I would expect:

[code]

Pretty confusing outputs. Would be great if we could disable the "universal apk" generation. And I guess there is a bug with the [createDeployPth](https://github.com/bitrise-steplib/steps-gradle-runner/blob/master/main.go#L149) whic

[2020-05-01 03:09] paramaggarwal commented on #93
I have suggested an approach to fix this here: https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/issues/121

This can be an easy task for someone with Go-lang experience

[2020-05-06 08:15] cohen72 commented on #97
@non-binary I'm experiencing the same error, but in my case I'm using Fastlane `gym` to create the `.xcarchive` file and then zipping it up and placing it within the `BITRISE_DEPLOY_DIR` folder.

Has anyone else has had any success using Fastlane `gym` together with the deploy for bitrise.io step? Perhaps I'm missing some parameters on `gym` that may be what's causing this issue.  If anyone has ha

[2020-05-06 08:17] notjosh commented on #97
@cohen72 we're using Fastlane too. Our setup still works if you roll back the version of this plugin to before the breaking change was made (1.6.1 is still working perfectly for us). Not sure if new features have been added that you rely on though :/

[2020-05-14 15:51] G00fY2 commented on #93
@paramaggarwal your PR doesn't really relate to the root topic of this issue.
I am also looking for a simple flag to skip the _**ensureAABsHasUniversalAPKPair**_ function in the deploy step. ;)

Bitrise adding a little bit too much magic here.

[2020-05-14 16:08] paramaggarwal commented on #93
Ah yes, the request in this particular discussion is to bypass it rather than customise it. 👍

[2020-05-28 06:35] androideveloper commented on #114
Hi Luna,

We are also experiencing an issue because bundletool is out of date.
A PR is created for this https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/pull/122

Best,
Roland

[2020-06-04 14:43] non-binary commented on #114
Hi @androideveloper,

I see that the pull request has been merged. Please let us know if you have any other questions.

[2020-06-04 14:43] #114 closed

[2020-06-05 06:24] androideveloper commented on #123
This can also be closed

[2020-06-05 11:46] #123 closed

[2020-06-10 02:25] #121 closed

[2020-08-13 11:25] androideveloper commented on #93
Any updates on this?

[2020-09-15 14:06] royerdavid commented on #93
As there is a new "export universal apk step", there should be an option in the "deploy to Bitrise" step to not generate the universal APKs.

[2020-10-12 19:12] morizotter commented on #59
@darkplataform 's solution is really good! But in my case the new line didn't work. So I write my shell script inspired by @darkplataform 's solution.

My solution is:

Add Script with content below after `Deploy to Bitrise.io` .

[code]

And in the slack buttons content:
[code]

Finally run,  each public install page buttons will show on slack message!

[2020-10-14 09:36] s7aycool opened #125 "Undefined variable "$ANDROID_VERSION_CODE""
Subject

Error on step "deplay to bitrise":
[code]

[2020-10-15 09:49] bitce commented on #125
Hi there, please include a build URL with your report and enable Support User access in the Settings if possible!

[2020-10-15 12:04] s7aycool commented on #125
It's closed project from work. Can I do that?) I don't wanna give you access to our repo.

By the way, I want to mention that I haven't changed any versions of deploy to bitrise, and I my last successful deploy to bitrise was on 15th of september

If you want, I can

[2020-10-15 12:21] bitce commented on #125
I see! We won't be able to look into this based on this minor details alone, so please include a build URL either way, that only allows us to check out the build logs, and some metadata about the build, like it's .yml and when it was started, how it was started and such.

Bitrise does not store your source code in any way, Support Access wouldn't give us access to the repository either, but to you

[2020-10-16 13:09] s7aycool commented on #125
What info from the build you wanna see? Previous steps?

everything is fine.
![image](https://user-images.githubusercontent.com/59872947/96262082-f8168280-0fc9-11eb-9b8f-1fbb06505604.png)

[2020-10-16 21:45] s7aycool commented on #125
Have no idea how to include a build url. There are no "share" option for the build =(

[2020-10-19 05:01] bitce commented on #125
Please paste here the URL you see in your browsers search bar when you are on a build page. Thanks!

[2020-10-19 11:11] s7aycool commented on #125
https://app.bitrise.io/build/bc7a443ca99a7253#?tab=log

[2020-10-19 11:23] bitce commented on #125
Thanks! Unfortunately, you won't be able to just paste a variable and have it displayed on your public install page. What is unclear to me, is why would you like to print out #ANDROID_VERSION_CODE there? I'm attaching the default APK public install page, it displays this information by default.

![Screenshot from 2020-10-19 13-22-16](https://user-images.githubusercontent.com/40164469/96444270-461b

[2020-10-22 08:43] s7aycool commented on #125
I have like 200 successful builds with this settings.

![image](https://user-images.githubusercontent.com/59872947/96847352-bff4c100-145b-11eb-81a3-b5e0702cf299.png)

    - deploy-to-bitrise-io@1.10:
        inputs:
        - notify_user_groups: testers, developers
        - public_install_page_url_map_format: "{{range $index, $element := .}}{{if
            $index}}|{{end}}{{$element.File}}=>{{$e

[2020-10-22 09:01] bitce commented on #125
Oh I see! Can you send us a successful build like that?

[2020-10-22 09:48] s7aycool commented on #125
https://app.bitrise.io/build/8c4c1b3559824a48#?tab=log

[2020-10-22 10:21] bitce commented on #125
This build is indeed successful, but has the default `{{range $index, $element := .}}{{if $index}}|{{end}}{{$element.File}}=>{{$element.URL}}{{end}}` for the Public Install page format options. Is there a successful example that contains the variable?

[2020-10-23 09:20] s7aycool commented on #125
@bitce I swear I would never add this to my workflow: "-{{$ANDROID_VERSION_CODE}}{{end}}". I don't know where this line came from. And moreover, this line was only in 1 of 3 workflows. Feeling frustrated

Deploy to bitrise is up now!

Thanks for the help, and sorry for bothering you +)

[2020-10-23 09:20] #125 closed

[2020-11-13 15:00] G00fY2 commented on #93
This is really frustrating. This issue is still not solved, any news?

[2020-11-13 19:30] non-binary commented on #93
There is unfortunately no updates yet. I'm very sorry for the frustration. I've bumped this internally.

[2020-11-18 12:44] androideveloper commented on #93
This is very frustrating for us too, as we get 2 apks at the end of the build

[2021-01-12 06:33] kdani41 commented on #93
Any updates on this?
I see an open PR #126. Does that resolve the issue?

[2021-01-14 11:20] bitce commented on #93
Hey everyone! We are looking into accepting #126 for a quick fix and researching & discussing the long term solution with you guys. Thanks for all the patience so far!

[2021-01-14 13:11] EyMaddis commented on #93
Sidenote:
I also find it annoying that the build is signed with "android debug".
I made a step that deletes all apk/aab that are not signed how they are supposed to but thanks to this issue this slips throught. Now we deployed a debug signed apk to Amazon. Luckily that store does not care about signing...

[2021-01-14 13:33] royerdavid commented on #93
@EyMaddis You're lucky. We've deployed it in a Store in China and it took us weeks to be able to get them to let us upload a build with the proper release signature after that.

[2021-01-14 16:16] G00fY2 commented on #93
It took 17 month to provided "quick fix" by merging a community pr. I don't want to be disrespectful but this is bad customer support.

[2021-01-14 16:27] lchrislee commented on #93
I think the blame goes both ways. It took 17 months for someone in the community to care enough and contribute to an open source step 🤷

If there's issues with the community fix, let's work together to find and resolve it in less than 17 months.

[2021-01-18 14:31] mateherber commented on #93
Hi @G00fY2,

Thank you for your feedback! We are aware that the wait on this (and several others) issue had been long without much communication from our side, I'd like to apologize for that.

We are working hard to support the vast amount of our steps utilizing our resources the most impactful way. As this issue was not critical in a sense that while the generated `*.apk` is not signed properly -

[2021-01-18 14:31] #93 closed

[2021-01-18 15:38] G00fY2 commented on #93
Hi @mateherber, thanks for your detailed answer!
Short comment to finish my thoughts (**probably off-topic**): My intention was not to abuse this issue for "ranting" about your support. I really like bitrise.io and we (the company I work for) are very happy using your product in our day-to-day work.

We used a lot of other CI/DI platforms in the past and one issue I often see is that many steps/ta

[2021-01-18 17:27] androideveloper commented on #93
Hi @mateherber

First of all thanks for giving at least quick-fix for this issue. One question though. You mentioned that you're going to deprecate the .apk generation in this step and introduce a flag on the build and sign steps to generate them. But we already have a step that generates universal apk, isn't it enough for testing purposes? https://github.com/bitrise-steplib/bitrise-step-export-un

[2021-01-19 14:26] mateherber commented on #93
Hi @androideveloper,

That is actually an excellent idea. It has the drawback of forcing the user to set-up the keystore inputs again for this step but we're going to run tests with the step and if it can cover all the use-cases we're trying to solve with the `*.apk` we will close the issue above and advocate using the export-universal-apk step instead. Please stay tuned for the updates.

[2021-01-20 00:16] jonchui commented on #59
@morizotter and @darkplataform's solution did not work for me.

I had an iOS and ANDROID app built, and my `${BITRISE_PUBLIC_INSTALL_PAGE_URL_MAP}`

looks like:

[code]

So instead, I used output aliases in the `deploy to bitrise` step, and created 2 of them. one for iOS and one for Android, like so:

[code]

Then in my slack `buttons` :
[code]

[2021-01-20 17:27] androideveloper commented on #93
Hi @mateherber

Thanks! I wouldn't say it's a drawback as you have control over the keystore you use. And also it's very easy to setup, so would be nice to go in that direction.

[2021-02-03 01:41] #110 closed

[2021-02-03 15:00] istvankovacs-bitrise commented on #93
Please see [this](https://github.com/bitrise-steplib/bitrise-step-android-build/issues/24#issuecomment-772572728) thread for the resolution.

[2021-03-24 07:17] edias commented on #34
I'm still having this issue using manual code signing

[2021-04-24 08:27] #107 closed

[2021-04-24 08:27] #104 closed

[2021-04-24 08:27] #97 closed

[2021-04-24 08:27] #92 closed

[2021-04-24 08:27] #88 closed

[2021-04-24 08:27] #80 closed

[2021-04-24 08:27] #72 closed

[2021-04-24 08:27] #67 closed

[2021-04-24 08:27] #56 closed

[2021-05-31 12:24] pavm035 opened #140 "Deploy artifacts failing"
Hi,

After upgrading https://github.com/bitrise-steplib/steps-xcode-archive to 3.2.3 this step is failing, but if i revert back archive tool to 3.1.3 it seems to be fine, based on some investigation got clue that latest `Xcode-Archive` has made changes on extracting .xarchive.zip file, actually we have custom name for artifactory generation like `${scheme}($XPI_BUILD)` i guess due to additional na

[2021-06-01 14:24] godrei commented on #140
Hi @pavm035 ,
sorry for the inconvenience, you can read more about the issue in the related PR description: https://github.com/bitrise-steplib/steps-xcode-archive/pull/229
The changes released in the new Xcode Archive step version: [3.2.4](https://github.com/bitrise-steplib/steps-xcode-archive/releases/tag/3.2.4).

I'll close this issue, but if you need more info/help just let us know by opening a

[2021-06-01 14:24] #140 closed

[2021-08-23 08:36] LiuCrane opened #141 "No method to create an aab file public link automatically, as well as sending email for aab links"
### Troubleshooting

- [ Yes] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? All versions
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troub

[2021-09-06 14:51] BirmacherAkos commented on #141
Hey @LiuCrane 👋
thanks for the issue report.

Could you help me better understand your use case?
- Why would you need a public link for an  AAB?
- Why would you need an e-mail with the public link for an AAB?

----

**How does the step work now ( why there is no public link & e-mail for AAB ):**
The Deploy to Bitrise.io step generates a public link for build artifacts that you can install on a dev

[2021-09-20 09:56] DJDarkByte commented on #141
I noticed the same "issue" as well, and while I can't speak for the use case of @LiuCrane I can give you mine.

Most of our apps get uploaded to the Play Store by our Bitrise workflow, but new apps that don't have a release in the Play Store yet can't be uploaded. For this situation we report back the public install url to a different department so they can download the APK and do the manual uploa

[2021-09-24 15:59] BirmacherAkos commented on #141
Thanks  @DJDarkByte, your answer helped me better understand the problem.

I've added your insight to Productboard where we collect the requests.
We already have a feature request for providing fixed URLs for every exported artifact on the APPS & ARTIFACTS tab. I think your use case is related to that.
AFAIK  we'd need to do change in the backend as well, which makes it more difficult than an easy

[2021-09-27 08:23] DJDarkByte commented on #141
Thanks for the response @BirmacherAkos .

The fixed URLs would indeed be a solution to the problem and completely fine for our use case. I'll be on the lookout for when that feature is implemented and use an alternative solution until then 🙂

[2021-09-27 08:31] spasbilyarski opened #144 "XCode 13 missing "cfBundleVersion""
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 1.3.1
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-09-27 16:15] lpusok commented on #144
Hello @spasbilyarski, can you please check that you are using the latest Step version? (That is 2.0.0)

[2021-09-27 16:58] spasbilyarski commented on #144
Thank you for the reply but I just saw that I posted the issue in the bitrise deploy and not the appstore connect deploy. Sorry for the trouble!

[2021-09-27 16:58] #144 closed

[2021-10-01 15:48] juancarlosqr opened #146 "BITRISE_PUBLIC_INSTALL_PAGE_URL is not available for android builds"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.0.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-10-04 15:10] jschmid opened #147 "Default bundletool version does not exist anymore"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.0.0
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time? EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshooting

[2021-10-08 06:54] chedabob commented on #147
@jschmid

Ye that URL is 404 but it always tries two URLs as I assume at some point Google changed the filename format https://github.com/google/bundletool/releases/download/0.13.4/bundletool-all.jar

The release definitely still exists https://github.com/google/bundletool/releases/0.13.4

I have opened a PR to update it, but my gut feeling is there's something else going on with your build. Can y

[2021-11-03 12:26] #146 closed

[2022-01-16 08:25] #141 closed

[2022-10-19 21:15] bassrock opened #162 "New Tar Upload Not Expanding As Expected"
### Troubleshooting

- [x] I've searched [discuss.bitrise.io](https://discuss.bitrise.io/) for possible solutions.
- Which version of the step is effected? 2.1.2
- Is the issue reproducible with the latest version? YES
- Does the issue happen sporadically, or every time?  EVERY TIME
- Is the issue reproducible locally by following our [local debug guide](https://devcenter.bitrise.io/troubleshootin

[2022-10-20 00:04] StasDoskalenkoHover commented on #162
+1 on this one. Having the same issue.

[2022-10-20 06:57] treastrain commented on #162
As noted at https://github.com/bitrise-steplib/steps-deploy-to-bitrise-io/pull/161#issuecomment-1285036500, I also express a +1 to this issue.

[2022-10-27 14:55] #162 closed